#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes neonBlink {
  0%,
  100% {
    box-shadow:
      0 0 2px #7b287d,
      0 0 10px #7b287d,
      0 0 20px #330c2f,
      0 0 30px #330c2f;
  }
  50% {
    box-shadow:
      0 0 2px #7b287d,
      0 0 40px #7b287d,
      0 0 60px #330c2f,
      0 0 80px #330c2f;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
